# swap and cache files
*.pyc
*.swp
*~
__pycache__
*temp*
*.egg-info*
*.DS_Store
*.pkl
dist

# generated structure from tests
tests/*/structures*
examples/structures*

# self-testing files
*rubbish*

# catch-all for all hidden files
.

# IDE-related files
.vscode
.env

# version control
_version.py
