name: Publish Python distributions to PyPI
on:
  release:
    types: [published]
  
  workflow_dispatch:

jobs:
  deploy-pypi:
    if: github.repository == 'giprayogo/SHRY'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
        
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
            python-version: '3.9'
        
      - name: Install pypa/build
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools_scm wheel
          python setup.py sdist bdist_wheel
        
      - name: Publish distribution to PyPI
        if: startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
            user: __token__
            password: ${{ secrets.PYPI_API_TOKEN }}
            verbose: true
